@charset "UTF-8";
* {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
}

/*header.jsp*/
.logo {
	font-family: 'Do Hyeon', sans-serif;
}

/*index.jsp*/
.houseImg {
	margin-top: 50px;
	background: url(../img/house_3.jpg) no-repeat center center !important;
}

.content {
	margin-top: 100ox;
}

.main-hr {
	border-color: white;
}

.btn-goto {
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	background-color: white !important;
	transition-duration: 0.4s;
	border-radius: 5px;
	color: #0080ff;
	border: 2px solid #0080ff;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0
		rgba(0, 0, 0, 0.30);
}

.btn-goto:hover {
	background-color: #2c89fc !important;
	color: white !important;
}

.defaultmap {
	width: 900px;
	height: 600px;
}

.dealRank {
	float: left;
}

.dealRankLow {
	margin-top : -10px;	
}

/*join.jsp*/
.join_houseImg {
	padding-top: 100px;
	padding-bottom: 100px;
	background: url(../img/house_3.jpg) no-repeat center center !important;
}
.joinBoxBg{
    background-color: white;
    border-radius: 7px;
    height: 800px;
    padding-top: 20px;
    color: black;
}
#searchPw_Form {
	color : black;
}

/*list.jsp*/
.listcontent {
	color: white;
}

.list_houseImg {
	margin-top: 50px;
	background: url(../img/house_3.jpg) no-repeat center center !important;
	padding-top: 100px !important;
}
.col-pb-90px{
	padding-bottom: 90px;
}
.listml {
	margin-left: 50px !important;
}

.tlteinfo {
	text-shadow: 2px 2px 5px black;
}

.listmap {
	width: 800px;
	height: 800px;
}

.scrolltable {
	width: 100%;
	height: 830px;
	overflow-y: auto;
	margin-left: 50px;
	/*
	-ms-overflow-style:none;
	scrollbar-width: none;
	*/
}
/*
.scrolltable::-webkit-scrollbar {
	display: none;
}
*/

/*login.jsp*/
.loginBox{
	position:relative;
	overflow: hidden;
	z-index: 2;
	
}
.loginBoxBg{
    background-color: white;
    border-radius: 7px;
    height: 400px;
    color: black;
}

.inputForm {
	width: 80%
}
.msg{
	color : #ff6f6f;	
}
.pwdZone{
	height: 100px;
}
.pwdZone p {
	margin-top: 30px;
}

/*modify.jsp*/
.modifyBoxBg{
    background-color: white;
    border-radius: 7px;
    height: 300px;
    padding-top: 20px;
    color: black;
}

/*searchPW.jsp*/
.searchPwBoxBg{
    background-color: white;
    border-radius: 7px;
    height: 350px;
    padding-top: 20px;
    color: black;
}